
pre.wp-block-code code, code {
  color: #fff !important;
  background: #282c34  !important;
  padding: 4px;
  border-radius: 4px;
}

pre code {
  color: #fff !important;
  background: #282c34  !important;
  padding: 4px;
  border-radius: 4px;
}

code {
  color: #fff !important;
  background: #2b2b2b  !important;
  padding: 4px;
  border-radius: 4px;
}

pre code span, li code span {
  color: #fff !important;
  background: #2b2b2b  !important;
  padding: 4px;
  border-radius: 4px;
}



