$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path: "#{$slick-loader-path}fonts/";
$slick-font-family: "slick" !default;
$slick-arrow-color: var(--bs-frenchgray-dark) !default;

.slick-prev::before,
.slick-next::before {
  font-size: 48px !important;
  color: var(--bs-frenchgray-dark) !important;
}

.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover {
  width: auto;
  height: auto;
  z-index: 2;
  background: white;
  border-radius: 50%;
  padding: 2px;
}

.slick-track {
  padding: 15px 0;
}

.slick-slide {
  margin: 0 15px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
