.content-info {
  border-top: 12px solid var(--bs-primary);
  background: var(--bs-frenchgray-dark);
}

footer {
  color: white;
  margin-top: 80px;

  a {
    color: white;
  }

  li {
    margin-left: -2rem;
  }
}
